* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/****************************************************************(header logo)****************************************/
i {
  color: #e6d8c0;
}
header {
  color: #e6d8c0;
}
#top-page {
  display: flex;
  justify-content: space-between;
  background-color: #3a3b2e;
  flex-wrap: wrap;
}
/***************************************************************(nav)**************************************************/
ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
}
nav {
  display: flex;
}
/******************************************************(  header photo +  text )***************************************/
#back-imge {
  background-image: url("/img/Header.webp");
  height: 200px;
  background-size: 100% 100%;
}
button {
  background-color: #e6d8c0;
  padding: 5px;
  border: 0;
  font-size: 30px;
}
/***************************************************(main)**************************************************/
/***************************************************(card)**************************************************/
img {
  width: 200px;
  height: 200px;
}

#container-card {
  background-color: #e4d0b2;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f1e3cf;
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
}
.container:hover {
  border: black solid 2px;
  background-color: aqua;
}

/*************************************************(parti mobil)*****************************************/
@media screen and (max-width: 425px) {
  img {
    display: none;
  }
  #container-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    padding-top: 20px;
  }
  .card-1 {
    display: none;
  }
  .active {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 0;
  }
  p {
    display: none;
  }

  .container p {
    display: block;
  }
  .next {
    display: block;
    display: flex;
    position: relative;
    top: 50%;
  }
  .material-symbols-outlined {
    cursor: pointer;
  }
  .left {
    width: 174px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
  }
  .left {
    font-size: 30px;
  }
  .right {
    font-size: 30px;
    margin: 0px;
    padding-left: 77px;
  }
  i {
    color: #e4d0b2;
    background-color: #f1e3cf;
    border: none;
    cursor: pointer;
  }
  .sens {
    display: flex;
    position: relative;
    top: -150px;
    width: 281px;
  }
  i:hover {
    background-color: aqua;
  }
}
