* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Aleks header ***************/

header {
  background-color: #3a3b2e;
  color: #e6d8c0;
  padding: 5px 10px 10px; /* espace interne du header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  margin-left: 10px;
  font-family: "Wendy One", sans-serif;
}
/**********Aleks navbar ******/
.hors-menu {
  height: 20px;
}
.sous-menu {
  list-style: none;
  right: 55px;
  top: 10px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
.sous-menu > li {
  border: solid black 2px;
  width: 146px;
  color: black;
  padding: 10px;
}

i {
  height: 35px;
  width: 40px;
  font-size: 24px;
}

.icon {
  cursor: pointer;
  color: #e6d8c0;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.icon > li:hover {
  color: #fff;
  cursor: pointer;
}

li {
  font-size: 12px;
}
a {
  text-decoration: none;
}
/************Aleks header ***************/

.content-section {
  background-image: url(/img/Header.jpg);
  background-size: cover; /*img reduit*/
  background-position: center;
  text-align: center;
  padding: 100px 20px;
  color: #3a3b2e;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-container h1 {
  font-size: 30px;
  margin-bottom: 25px;
  align-self: flex-start;
}

.content-container h3 {
  font-size: 25px;
  font-weight: 100;
}

button {
  background-color: #e6d8c0;
  color: #3a3b2e;
  border: 1px;
  border-radius: 30px;
  padding: 10px;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer; /*chage de courseur */
  align-self: flex-start;
}

button:hover {
  /*change la couleur quand on clique dessus */
  background-color: #e6d8c0;
  border: #3a3b2e;
  background-color: #e4be86;
}

/***********************************************************(main Mick)**************************************************/
/***********************************************************(main)**************************************************/
main {
  background-color: #e4d0b2;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px - 200px);
}

/******************************(section 1 mick)***********************************************************/

#produit {
  display: flex;
  flex-wrap: wrap;

  height: auto;
}

img {
  width: 200px;
  height: 200px;
}

#containers-card {
  background-color: #e4d0b2;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f1e3cf;
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
  border: black solid 2px;
}

.containers:hover {
  background-color: aqua;
}
.sens {
  display: none;
}
/******************************(section 2 mick)***********************************************************/
#section2 {
  background-color: #f1e3cf;
  display: flex;
  justify-content: center;
  width: auto;
  height: 384px;
  flex-wrap: wrap;
}
.img01 > img {
  overflow-x: visible;
}
.img01 {
  display: flex;
  overflow-x: visible;
  align-items: center;
}

.imtex > p {
  text-wrap: wrap;
  background-color: #f1e3cf;
}

/*******************************(section 3 mick)********************************************************************************/
.section3 {
  display: flex;
  flex-direction: column-reverse;
}
/******************************( parti tablette mick)***********************************************************/
@media screen and (max-width: 768px) {
  .img01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 388px;
  }
  .section2 {
    justify-content: flex-end;
  }
}
/*************************************************(parti mobil)*****************************************/
@media screen and (max-width: 426px) {
  .hors-menu {
    display: none;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-section {
    padding: 0px;
  }
  .content-section h3 {
    display: none;
  }
  main {
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
  }

  #section2 {
    display: none;
  }
  img {
    display: none;
  }
  #containers-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    padding-top: 20px;
  }
  .card-1 {
    display: none;
  }
  .active {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 0;
  }
  p {
    display: none;
  }

  .containers p {
    display: block;
  }
  .next {
    display: block;
    display: flex;
    position: relative;
    top: 50%;
  }
  .material-symbols-outlined {
    cursor: pointer;
  }
  .left {
    width: 174px;
  }
  .containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
  }

  .left {
    font-size: 30px;
  }
  .right {
    font-size: 30px;
    margin: 0px;
    padding-left: 77px;
  }
  i {
    color: #e4d0b2;
    background-color: #f1e3cf;
    border: none;
    cursor: pointer;
  }
  .sens {
    display: flex;
    position: relative;
    top: -150px;
    width: 281px;
  }

  i {
    background-color: #e6d8c0;
    color: #3a3b2e;
    border: none;
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
  }
  .section3 {
    display: none;
  }
}

/************Aleks footer ***************/

#item_0,
#item_2,
#item_4 {
  font-family: "Roboto";
  font-weight: Bold;
  color: #3a3b2e;
  font-size: 25px;
  text-align: center;
  padding: 6px;
}

#item_1,
#item_3,
#item_5 {
  color: #3a3b2e;
  max-width: 100%; /* pour que l'image ne dépasse pas de sa boîte */
  height: auto;
  text-align: center;
  padding: 6px;
  width: 90px;
}

.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 186px;
}
footer {
  font-size: 14px;
  background-color: #3a3b2e;
  color: #e6d8c0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  height: 65px;
}
footer img {
  height: 50px;
  width: 50px;
}
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

/************ Aleks tablette **************/
@media screen and (max-width: 768px) {
  /*******header*********/
  header {
    padding: 5px 5px 10px;
  }

  .logo {
    font-size: 30px;
  }

  .icons {
    gap: 8px;
    font-size: 20px;
    padding: 5px;
  }

  .dropdown-menu {
    padding: 5px;
  }
  .content-section {
    height: 25vh;
  }

  .content-container h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .content-container h3 {
    font-size: 20px;
  }

  button {
    font-size: 20px;
    margin-top: 10px;
  }
  /**********************(main)*************************************/
  main {
    height: 100vh;
  }
  /**********************(section 2 )****************************************/
  .section2 {
    width: 434px;
  }
  .imtext > p {
    width: 406px;
  }
  /********************(section3)***************************************************/
  .section3 {
    height: 70px;
  }
  .container1 {
    height: 155px;
    background-color: #e4d0b2;
  }
  #item_0,
  #item_2,
  #item_4 {
    font-family: "Roboto";
    font-weight: Bold;
    color: #3a3b2e;
    font-size: 15px;
    text-align: center;
    padding: 6px;
  }

  #item_1,
  #item_3,
  #item_5 {
    color: #3a3b2e;
    max-width: 100%; /* pour que l'image ne dépasse pas de sa boîte */
    height: auto;
    text-align: center;
    padding: 6px;
    width: 70px;
  }

  /*******footer*********/
  footer {
    position: relative;
    bottom: auto;
  }
  footer img {
    height: 40px;
    width: 40px;
  }
}
/******************partie livraison, sav, avis disparaisse à 424px******************/
@media screen and (max-width: 426px) {
  /********************************(footer)**********************/
  /* footer {
    position: relative;
    bottom: 0px;
  }*/
  .auteur p {
    display: block;
  }
}
/***********************************************************************/
@media screen and (max-width: 880px) {
  main {
    height: 100vh;
  }
  .section3 {
    height: 300px;
  }
  .section2 {
    height: 600px;
  }
}
